#home-page{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button{
  cursor: pointer;
}

#home-page-bg{
  background: rgba(29, 29, 29, 0.6);
  width: 100vw;
}

/* ------- Categories ------- */
#home-page-categories{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  transition: 150ms transform;
  position: relative;
}

#home-page-categories-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.home-page-category-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  width: 100%;
}

.home-page-category-titles-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  overflow-x: auto;
  border: 1px solid brown;
}

.genre-pages{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid blue;
}

.general-title-display{
  min-height: 5rem;
}

.general-title-display img{
  width: 100%;
  object-fit: contain;
}

.category-navigation{
  position: absolute;
  color: aliceblue;
  font-size: calc(1.5vw + 1rem);
  font-weight: 700;
  height: 100%;
  width: 50px;
  text-align: center;
  z-index: 1;
}

.category-left{
  left: 0;
  opacity: 0;
  transition: 150ms opacity;
}

.category-right{
  right: 0;
  opacity: 0;
  transition: 150ms opacity;
}

.category-left:hover, .category-right:hover{
  opacity: 1;
}

/* ------- Genres ------- */
.home-page-genre-container{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.home-page-genre{
  position: absolute;
  width: 100%;
  padding: 3rem 3rem 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
  gap: 2rem;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
}

.home-page-section-title{
  position: absolute;
  top: 0;
  color: aliceblue;
  left: 1rem;
  font-weight: 700;
  font-size: calc(1vw + 0.5rem);
  z-index: 1;
  
}

.genre-titles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 150ms transform, 150ms outline;
  cursor: pointer;
  scroll-snap-stop: always;
  scroll-snap-align: center;
}

.genre-titles:hover .genre-title-image{
  transform: scale(1.05);
  outline: 3px solid rgba(255, 255, 255, 1);
}

.genre-title-image{
  outline: 3px solid rgba(255, 255, 255, 0.3);
  min-width: 350px;
  max-width: 350px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: 150ms transform, 150ms outline;
}

.genre-title-title{
  color: aliceblue;
  font-weight: 500;
  width: 100%;
  text-align: center;
  font-size: calc(0.8vw + 0.5rem);
}

@media screen and (max-width: 1200px){
  #home-page-categories{
    transform: scale(0.9);
  }
}




