#home-page{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 80px);
}

button{
  cursor: pointer;
}

/* ------- Carousel ------- */
#home-page-carousel{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 600px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  background: rgb(0, 13, 29);
}

.carousel-title-wrapper{
  min-width: 100%;
  height: 100% !important;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-stop: always;
  scroll-snap-align: start;
}

.carousel-title-wrapper:hover .carousel-title-trailer{
  transition-delay: 500ms;
  height: 33rem;
}

.carousel-title-image{
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.carousel-title-image-wrapper{
  z-index: 1;
  position: relative;
  transition: 150ms transform;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel-title-imagebg{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  filter: blur(0.5rem);
}

.carousel-title-image-wrapper:hover{
  transform: scale(1.05);
}

.left{
  position: fixed;
  left: 0;
  font-size: calc(0.8vw + 1rem);
  font-weight: 700;
  color: black;
  z-index: 2;
  height: 600px;
  width: 7%;
  text-align: center;
  transition: 150ms background;
}

.right{
  position: fixed;
  right: 0;
  font-size: calc(0.8vw + 1rem);
  font-weight: 700;
  color: black;
  z-index: 2;
  height: 600px;
  width: 7%;
  text-align: center;
  transition: 150ms background;
}

.left:hover, .right:hover{
  background: rgba(255, 255, 255, 0.25);
}

.left:active, .right:active{
  background: rgba(255, 255, 255, 0.5);
}

.carousel-title-trailer{
  width: 36rem;
  height: 0;
  position: absolute;
  left: 8%;
  border: none;
  z-index: 1;
  transition: 1s height;
  display: none;
}

.carousel-title-platforms{
  z-index: 1;
  position: absolute;
  top: 71%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
}

.carousel-title-platforms img{
  width: 10%;
}

@media screen and (min-width: 1200px){
  .carousel-title-trailer{
    display: unset;
  }
}



