#title-info-page-bg{
  background: linear-gradient( rgba(13, 0, 34, 0.85) 10%, rgba(13, 0, 34, 0.85) 10%, rgb(0, 0, 0), rgba(13, 0, 34, 0.85)33%, rgb(0, 0, 0), rgb(0, 0, 0)),
  linear-gradient(to bottom, rgba(13, 0, 34, 0.85) 10%, rgba(13, 0, 34, 0.85) 10%, rgb(0, 0, 0), rgba(13, 0, 34, 0.85)33%, rgb(0, 0, 0), rgb(0, 0, 0));
  width: 100vw;
  min-height: 100vh;
}

#title-info-page{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100% - 80px);
  width: 100%;
  gap: 2rem;
}

/* ------- Card -------*/
#card-container{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#card{
  width: 95%;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 10px rgba(28, 65, 168, 0.8);
  background: rgba(59, 59, 59, 0.3);
  display: flex;
  overflow: hidden;
  position: relative;
}

#card-title-platforms{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3px;
  background:rgba(0, 0, 0, 0.95);
  padding: 1.5px;
  position: absolute;
  right: 40%;
  top: 0;
  bottom: 0;
  width: 80px;
}

#card-title-platforms a {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

#card-title-platforms img{
  width: 50%;
}

.card-title-image{
  width: 60%;
}

#card-title-summary-wrapper{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  text-align: center;
  color: aliceblue;
  letter-spacing: 1px;
  line-height: 2rem;
  font-weight: 500;
}

#card-title-summary{
  width: 95%;
}

#card-title-release-date{
  position: absolute;
  bottom: -3.5rem;
  right: 5%;
  width: 20%;
  min-height: 50px;
  text-align: start;
  color: aliceblue;
  font-weight: 500;
  font-size: calc(0.5vw + 0.7rem);
}

/* ------- Videos -------*/
#videos-container{
  width: 95%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 2rem;
}

.videos-title{
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(28, 65, 168, 0.8);
  width: 40%;
  height: 600px;
}

/* ------- Similar Titles -------*/
#similar-titles-container{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 1rem;
  margin-top: 7rem;
}

#similar-section-title{
  position: absolute;
  top: 0;
  color: aliceblue;
  left: 2rem;
  font-weight: 700;
  font-size: calc(1vw + 0.5rem);
  z-index: 1;
}

#similar-titles-wrapper{
  position: absolute;
  width: 100%;
  padding: 3rem 3rem 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
  gap: 2rem;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
}